%h1{align: "center"} Edit Wiki

- if @wiki.errors.any?
  .error_messages
    %h2
      = pluralize(@wiki.errors.count, "error")
      prohibited saving this wiki:
    %ul
      - @wiki.errors.full_messages.each do |msg|
        %li = msg

%br/
.row
  .col-md-8.col-md-offset-2

    = form_for @wiki do |f|

      .well.well-lg

        .form-group
          = f.label :title, class: "sr-only"
          = f.text_field :title, class: 'form-control', required: :true

        %br/

        .form-group
          = f.label :body, 'Text'
          = f.hidden_field :body, required: :true, id: "body"
          #epiceditor
          %br/
          = f.label 'Preview'
          .panel.panel-body
            #epiceditor-preview

        - if !current_user.standard?
          .form-group
            = f.label :public do
              = f.check_box :public
              Public Wiki

        %div.btn-toolbar{align: "center"}
          = f.submit "Save", class: 'btn btn-success'
          - if !@wiki.public && @wiki.user_id == current_user.id
            = link_to "Collaborate", collaborators_path(id: @wiki.id), class: 'btn btn-primary'
          = link_to "Cancel", :back, class: 'btn btn-danger'

%script{:src => "epiceditor.min.js"}
:javascript
  var editor = new EpicEditor({
    button: false
    }).load();
  editor.on('update', function (){
    document.querySelector('#epiceditor-preview').innerHTML = this.exportFile(null, 'html');
    }).emit('update');
  editor.getElement('editor').body.innerHTML = '#{escape_javascript(@wiki.body)}';
  editor.getElement('previewer').body.innerHTML = '';
  function prep() {
    $("#body")[0].value = (editor.getElement('editor').body.innerHTML);
  }
