%h1{align: "center"} New Wiki

%br/
.row
  .col-md-8.col-md-offset-2

    = form_for @wiki do |f|

      .well.well-lg

        .form-group
          = f.label :title, class: 'sr-only'
          = f.text_field :title, class: 'form-control', required: :true, placeholder: "Title"

        %br/

        .form-group
          = f.label :body, class: 'sr-only'
          = f.text_area :body, rows: 20, class: 'form-control', required: true, placeholder: "Text"

        .form-group
          %label.checkbox{ for: "public" }
          = f.label :public
          = f.check_box :public

        %p{align: "center"}
          = f.submit "Save", class: 'btn btn-success'
          = link_to "Cancel", :back, class: 'btn btn-danger'
